.header {
  background-color: #ffccd5; /* Light pink */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.nav-btn, .login-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-btn {
  background: none;
  font-size: 24px;
}

.login-btn {
  background-color: darkred;
  color: #ffccd5;
}

.login-btn:hover {
  background-color: red;
  color: white;
}
